.login-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#username{
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    border-radius: 20px;
    border:1px solid black;

}



/*password style:*/
.password-box{
    display:flex;
    flex-direction: column;


}

.password-input-wrapper{
    position: relative;
    width: 100%;
}

#password{
    width: 100%;
    height: 3em;
    border-radius: 20px;
    border:1px solid black;

}

#visibility{
    position: absolute;
    right:0;
    top: 20%;
    border:none;
    background: none;
    cursor: pointer;

    
}


/* forgot-password-page styles:*/

.search-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}