:root{
    --text-color: #F9F9F9;
}
*{
    margin: 0;
    padding: 0;
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#username{
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    border-radius: 20px;
    border:1px solid black;

}



/*password style:*/
.password-box{
    display:flex;
    flex-direction: column;


}

.password-input-wrapper{
    position: relative;
    width: 100%;
}

#password{
    width: 100%;
    height: 3em;
    border-radius: 20px;
    border:1px solid black;

}

#visibility{
    position: absolute;
    right:0;
    top: 20%;
    border:none;
    background: none;
    cursor: pointer;

    
}


#login-btn{
    display:block;
    width: 100%;
    background-color: rgb(252, 50, 50);
    color: var(--text-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 800;
    font-size: medium;
    padding: 8px;
    border-radius: 20px;
    border: none;
}

/* forgot-password-page styles:*/

.search-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}